<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolios</h1>
    <p class="lead text-muted">These are my portfolios.  These portfolios represent things about my skills / character.</p>
    <p>
      <%= link_to 'More About Me', about_me_path, class: 'btn btn-warning' %>
      <%= link_to 'My Blogs', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>