<h1>A little about me</h1>

<hr>

<div class="row">
  <div class="col-md-6">
      <%= image_tag "profile.jpg", width: 300, alt: "Profile Image"%>
  </div>
  
  <div class="col-md-4.5">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>You need not know anything about me</p>
  </div>
  
  <div class="col-md-1.5">
  </div>  
</div>
