<h1>Allons-y!</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Getting in touch?</h3>

    <p><a>I'll find you</a> </p>
    
    <p><a href="mailto:casey.lee.black@gmail.com?subject=PortfolioContact" "email me">(or you can just email me)</a> </p>
   
    <h3>Home Address</h3>

    <a href= "https://www.google.com/maps/place//@51.492146,-0.192985,3a,75y,121.57h,90t/data=!3m4!1e1!3m2!1sLYc4W_m-BJQAAAQIt-IsCQ!2e0!4m2!3m1!1s0x0:0xad8352768ee1781a?hl=en&dg=dbrw&newdg=1" >
     <p> Blue Box </p>
    </a>

    <h3>Phone</h3>

    <p>07700 900461</p>
  </div>

  <div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.155554170444!2d-0.1951509842305839!3d51.49201287963261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760f8b651567e1%3A0xf4f4f59620b78522!2s238+Earls+Ct+Rd%2C+Kensington%2C+London+SW5+9AA%2C+UK!5e0!3m2!1sen!2sus!4v1501002179388" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
