<h1>I don't understand</h1>
<p>why does this happen</p>
<% @portfolio_items.each do |portfolio_items| %>

<% end %>

<!--a href="/team/jemapplecasey" target="/team/jemapplecasey" class=" member_preview_link member_image thumb_36" data-member-id="U5T098940" data-thumb-size="36" style="background-image: url('https://ca.slack-edge.com/T5T46P2A0-U5T098940-g25b954c876d-48')" aria-hidden="true" tabindex="-1">	</a-->
